[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
.idea/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.suo
*.userprefs
.DS_Store
Thumbs.db
/Assets/Plugins/*.dll
/Assets/Plugins/*.dll.meta
/Assets/Resources/*.dll
/Assets/Resources/*.dll.meta
